<main>
    <div class="p-3 background-image row no-gutters mb-3">
        <div class="col-12 col-md-2 text-center">
            <img src="{{community.image}}" class="img-fluid img-thumbnail img-community" alt="Community Image" />
        </div>

        <div class="col-12 col-md-10 text-white">
            <h1>
                {{community.name}}
            </h1>

            <p class="text-justify">
                {{community.description}}
            </p>
        </div>
    </div>

    <section class="row">
        <div class="col-12 col-sm-6 col-md-4">
            
        </div>

        <div class="col-12 col-sm-6 col-md-8">
            
        </div>
    </section>
</main>