<main class="mt-4">
    <h2>
        Community
    </h2>

    <hr>

    <section class="row">
        <div class="col-12 col-xl-9">

        </div>

        <div class="col-12 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/images/illustrations/communities.png" class="img-fluid" />
                    <p>
                        <b>
                            Communities are the best way to connect people who have common interests.
                        </b>
                    </p>

                    <div>
                        <p>When creating a Community remember that the purpose must be clear.</p>
                        <p>The title is essential so that others interested in the subject can find it easily.</p>
                        <p>Before creating a new Channel, we suggest you look through the existing ones to make sure
                            that there is not a similar or identical one.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>