<h2>
    List of Communities
</h2>

<div class="row">
    <article class="col-12 col-xl-6 mb-3" *ngFor="let community of dataSource">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="{{community.image}}" style="max-height: 330px;" />
                </div>

                <div class="card-body p-2">
                    <h3 class="card-title font-weight-normal">
                        <a href="javascript:void(0)" (click)="viewCommunity(community)">
                            {{community.name}}
                        </a>
                    </h3>

                    <p class="card-text font-weight-lighter">{{community.description}}</p>
                </div>
            </div>

            <div class="card-footer p-2">
                <small class="text-muted">Created {{community.dateCreated | timeago:true}} by <b>{{community.user.name}}</b></small>
            </div>
        </div>
    </article>
</div>

<mat-paginator *ngIf="dataSource" [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" showFirstLastButtons>
</mat-paginator>