<h2>
    List of Communities
</h2>

<div class="row">
    <div class="col-12 col-xl-4" *ngFor="let i of [1,2,3]">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="http://via.placeholder.com/180x180" />
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

    <mat-paginator *ngIf="dataSource" [length]="totalCount" [pageSize]="paginationService.pageCount"
        [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" showFirstLastButtons>
    </mat-paginator>
</div>