<h2 mat-dialog-title>
    Vinyl
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup">
        <div class="row">
            <div class="col-12 col-sm-4" *ngIf="formGroup.value.coverURL">
                <img src="{{formGroup.value.coverURL}}" class="img-fluid img-thumbnail img-cover-preview" [matTooltipPosition]="'below'" matTooltip="{{formGroup.value.band}} - {{formGroup.value.album}}" />
            </div>

            <div class="col-12" [ngClass]="{'col-sm-8': formGroup.value.coverURL}">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Band</label>
                            <input type="text" class="form-control" formControlName="band" (change)="getLastFMBandInfo()" cdkFocusInitial />
                        </div>
                    </div>
            
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Album</label>
                            <input type="text" class="form-control" formControlName="album" (change)="getLastFMBandInfo()" />
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Genre</label>
                            <input type="text" class="form-control" formControlName="genre" *ngIf="!genreList || genreList.length < 1" />
                            <ng-select [items]="genreList" [virtualScroll]="true" appendTo="body" formControlName="genre" *ngIf="genreList && genreList.length > 0"></ng-select>
                        </div>
                    </div>
            
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Cover URL</label>
                            <input type="text" class="form-control" formControlName="coverURL" />
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Released</label>
                            <input type="date" class="form-control" formControlName="dateReleased" />
                        </div>
                    </div>
            
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" class="form-control" formControlName="country" />
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12">
                        <label>Info</label>
                        <textarea class="form-control" rows="4" formControlName="info"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>

    <button mat-button color="primary" (click)="saveVinyl()">
        Save
    </button>
</mat-dialog-actions>