<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <div class="text-center mb-2">
            <img src="https://puu.sh/Gfz7J/76b9d888a4.jpg" alt="Avatar" class="rounded img-thumbnail img-avatar mb-1" />
            <br>
            <b class="mb-0">Julio Poveda</b>
            <br>
            <small>Software Engineer</small>
        </div>

        <section id="stats">
            <hr>
            <div class="row text-center">
                <div class="col-4">
                    <b>76</b>
                    <p>Vinyls</p>
                </div>

                <div class="col-4">
                    <b>80</b>
                    <p>Followers</p>
                </div>

                <div class="col-4">
                    <b>61</b>
                    <p>Following</p>
                </div>
            </div>

            <hr>
        </section>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)" [routerLink]="['/']">
                    <fa-icon icon="home"></fa-icon> Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" [routerLink]="['/social/community']">
                    <fa-icon icon="search-location"></fa-icon> Community
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Vinyl Catalog Club</span>
        </h6>

        <ul class="nav nav-links flex-column">
            <li class="nav-item">
                <a class="nav-link pt-1 pb-1" href="javascript:void(0)" [routerLink]="['/social/terms-and-conditions']">
                    Terms and Conditions
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link pt-1 pb-1" href="javascript:void(0)" [routerLink]="['/social/data-privacy']">
                    Data Privacy
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link pt-1 pb-1" href="#">
                    Report Abuse - DMCA
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link pt-1 pb-1" href="#">
                    Cookies Policy
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link pt-1 pb-1" href="#">
                    RSS
                </a>
            </li>
        </ul>
    </div>
</nav>