<main class="mt-4">
    <div class="alert alert-success">
        <h3 class="alert-heading">Community</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a neque posuere, luctus libero a, molestie elit. Sed ac turpis aliquet, volutpat turpis vehicula, dignissim mauris. Duis in nisl finibus, tincidunt dolor vitae, pretium dolor. Aenean vel tincidunt ex, a maximus ex. Duis at tempor leo. Ut imperdiet urna ut nisl porta finibus.
        </p>

        <hr>
        <p class="mb-0">Sed mauris lectus, eleifend in lacus at, iaculis finibus nisi.</p>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-sm btn-success" (click)="createCommunity()">
            <fa-icon icon="plus-circle"></fa-icon> Create a Community
        </button>
    </div>

    <hr>

    <app-community-list></app-community-list>
</main>