<main class="mt-4 container text-justify">
    <h2 class="mb-0">Manage Account</h2>
    <hr>

    <div class="row">
        <div class="col-12 col-sm-2">
            <img src="https://puu.sh/Gfz7J/76b9d888a4.jpg" alt="Avatar" class="rounded img-thumbnail mb-1" />
            <button type="button" class="btn btn-sm btn-info btn-block">
                <fa-icon icon="image"></fa-icon> Change Avatar
            </button>
        </div>

        <div class="col-12 col-sm-10">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="label-control">Name</label>
                        <input type="text" class="form-control" placeholder="Name" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label-control">Password</label>
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label-control">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-outline-success">
                            Update Account
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>