@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: .875rem; }
  
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
  
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
  
  /*
   * Navbar
   */
  
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
  
.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}
  
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
  
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
  
.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
  
.img-avatar {
    width: 50%;
}

.img-background-vinyl {
  background: url('https://puu.sh/GfzfI/9500a25c01.png') no-repeat;
  width: 198px;
  height: 170px;
}

.img-cover {
    position: absolute;
    left: 25px;
    top: 6px;
    width: 151px;
}

.cursor--pointer {
  cursor: pointer;
}

.img-cover-preview {
    transition: all 0.2s ease-in-out;
}

// .img-cover-preview:hover {
//     filter: blur(1px);
//     -webkit-filter: blur(1px);
// }

.img-background-vinyl:hover + .card__info {
    // visibility: visible;
    display: block;
}

.card__info {
    // visibility: hidden;
    display: none;
    position: absolute;
    left: 223px;
    top: 7px;
    width: 350px;
    z-index: 9999;
}

.card__info--left {
    position: absolute;
    left: -345px !important;
    top: 7px !important;
    width: 350px;
    z-index: 9999;
}

.card__info > .card-header {
    padding: 5px;

    & > .card-title {
        padding: 3px 0 0 3px;
    }
}

.vinyl-counter {
    position: relative;
    z-index: 10;
    width: 28px;
    height: 16px;
}

.card-header--info {
    height: 32px;
}

.mat-checkbox-layout { white-space: normal !important; }