<main class="mt-4 container text-justify">
    <h2 class="mb-0">Terms and Conditions</h2>
    <small class="text-muted">Last update: 22/08/2020</small>
    <hr>

    <p>
        These Terms and Conditions ("General Conditions") constitute the norms and rules established by Club Catalog
        Vinyl!
        ("Club Catalog Vinyl"), Relating to all the services that currently exist or are included in the future within
        the website
        https://vinylcatalog.club/ and its application (the "Services", the "Site" and the "Application", respectively
        ). These
        Services, although they may be free, are not free to use, but are subject to a set of guidelines that regulate
        their use, including these General Conditions. These General Conditions apply to all visitors, users and other
        people who access the Site and / or the Services ("Users").
    </p>

    <br>

    <p>
        <b>
            EACH USER SHOULD READ THESE GENERAL CONDITIONS CAREFULLY, SINCE THEY CONTAIN IMPORTANT INFORMATION ABOUT THE
            LEGAL RIGHTS AND OBLIGATIONS OF VinylCatalog Club! AND THE USERS. THE ACCESS AND / OR USE OF THE SITE, THE APPLICATION
            AND / OR OF ANY OF THE SERVICES BY A USER, IMPLIES THAT SUCH USER HAS READ, UNDERSTANDS AND AGREES TO BE
            BOUND BY THE PRESENT GENERAL CONDITIONS.
        </b>
    </p>
</main>